.root {
  cursor: pointer;
}

.active {
  border: 1px solid black;
  font-weight: bold;
  background-color: #87b42c;
  color: white;
}

.primary {
  border: 2px solid rgb(34, 34, 34);
  font-weight: bold;
  background-color: hsl(80, 69%, 61%);
  color: white;
  transition: background-color 0.2s;
}

.primary:disabled {
  border: 1px solid #7c7c7c;
  color: gray;
  background-color: #e4e4e4;
  opacity: 100%;
}

.primary:hover {
  opacity: 0.9;
  background-color: hwb(80 25% 33%);
}

.secondary {
  border: 1px solid rgb(34, 34, 34);
  background-color: hwb(27 32% 7% / 0.705);
}

.secondary:disabled {
  border: 1px solid #7c7c7c;
  color: gray;
  background-color: #e4e4e4;
  opacity: 100%;
}

.round-corner {
  border-radius: 20%;
}

.close {
  width: 24px;
  height: 24px
}

.small {
  height: 20px;
  font-size: 10px;
}

.medium {
  height: 24px;
  font-size: 14px;
}

.large {
  height: 26px;
  font-size: 16px;
}
